body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(120deg, #94B4C1, #547792);
  color: #213448;
}

/* Navbar Styles */

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 35px;
  background: rgba(33, 52, 72,0.6);
  position: sticky;
  top: 0;
  z-index: 100;
}

.campusgo{
   font-size: 38px;
    font-weight: bold;
    color: #e6c07e;
}

.info{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.search-filter input{
  width: 420px;
  padding: 10px 12px;
  border-radius: 5px;
  font-size: 16px; 
  background: rgb(248, 246, 242);
  border: none;
  outline: none;
  color: #213448;
  transition: all 0.3s ease;
}

.categories select {
  padding: 10px 2px;
  border-radius: 5px;
  background: rgb(248, 246, 242);

}
.panel{
  color:  #EAE0CF;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

.panel span{
  margin-left: 35px;
}

/* Cart Button Styles */
.cart-btn {
  padding-right: 18px;
}

.cart-badge {
  position: absolute;
  right: -6px;
  background: rgba(33, 52, 72,0.6);
  color: #EAE0CF;
  border-radius: 50%;
  font-size: 12px;
  padding: 2px 6px;
}

/* Logo and Navigation Styles */
.logo {
  font-size: 24px;
}

.nav-links span {
  margin-left: 20px;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin: 40px 0;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.categories button {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.categories button:hover {
  background: rgba(33, 52, 72,0.2);
  color: #EAE0CF;
}

.categories .active {
  background: rgba(33, 52, 72,0.6);
  color: #EAE0CF;
}


/* Items Grid Styles (Home page)*/
.items-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 30px;
  overflow: visible
}

.item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.item-actions button {
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}


/* Cart Page Styles */
.page-container {
  max-width: 750px;
  margin: 30px auto;
  background: rgba(33, 52, 72,0.15);
  padding: 20px;
  border-radius: 16px;
  
}

.cart-item {
  display: flex;
  margin-left: -10px;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}

.cart-item span {
  font-size: 18px;
  margin-left: 40px;
}
.cart-img{
  width: 140px;
  height:100px;
  object-fit: cover;
  border-radius: 25px;
  margin-left: 8px;
}

.cart-left{
  display: flex;
  align-items: center;
  gap: 20px;
  align-items: left;
}

.cart-left span{
  font-size: 16px;
  font-weight: bold;
}

.cart-right{
  display: flex;
  align-items: center;
  gap: 30px;
  align-items: right;
  justify-content: space-around;
 
}

.cart-qty-controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.cart-qty-controls button {
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  background: #213448;
  color: #EAE0CF;
  cursor: pointer;
}

.cart-qty-controls span{
  margin-left:10px;
  margin-right: 10px;
}
.cart-price{
  font-weight: 500;
  text-align: right;
   margin-right: 20px;
   margin-top:8px;
}

.order-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #213448;
  color: #EAE0CF;
  border-radius: 12px;
  border: none;
  font-size: 16px;
}

/* Favorites Page Styles */

.fav-grid {
  display: grid;
  grid-template-columns: repeat(3, 235px);
  gap: 16px;
}

.fav-card {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 16px;
  text-align: center;
  position: relative;
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}

.fav-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px #233343;
}

.fav-item-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}

.fav-card h4{
  font-weight: bold;
}

.fav-card p{
  font-weight: bold;
}

.fav-card button {
  width: 80px;
  background: #547792;
  border: none;
  color: #EAE0CF;
  padding: 8px 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}


/* Item Card Styles */

.item-card {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  padding: 16px;
  text-align: center;
  position: relative;
  z-index: 1;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.item-card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 12px 30px #233343;
}

.item-image {
  width: 100%;
  height: 110px;
  object-fit: cover;
  border-radius: 12px;
}

.item-card h4 {
  margin: 6px 0;
}

.item-price {
  font-weight: bold;
  margin-bottom: 15px;
}

.item-actions{
  display: flex;
  justify-content: center;
  gap: 10px;
}


.item-add-btn {
  background: #547792;
  border: none;
  color: #EAE0CF;
  padding: 8px 14px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 14px;
}

.item-qty-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.item-qty-controls button {
  background: #547792;
  color: #EAE0CF;
  border: none;
  padding: 4px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.fav-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


/* Order Page Styles */

.order-summary span{
  font-weight: 500;
  color: #f9c978
}

.order-summary {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size : 18px;
}

.order-form input {
  width: 95%;
  padding: 12px;
  margin: 8px;
  border-radius: 10px;
  border: none;
  background-color: #f4f2e0;
  color :#213448;
}

.order-form button {
  width: 99%;
  padding: 12px;
  margin-top: 10px;
  background: #233343;
  color: #EAE0CF;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* Payment Page Styles */

.payment-container{
  max-width: 420px;
  margin: 40px auto;
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 0 15px #EAE0CF;

}

.payment-container h2{
  color:#a0daf1;
  margin-bottom: 20px;
}

.payment-options{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.payment-options button{
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  background: #9cc7d6;
  color: #f1e0c2;
  cursor: pointer;
  font-size: 16px;
}
.payment-options button:hover{
  background: #94b4c1;
  transform: translateY(-1px);
}

.payment-container{
  max-width: 500px;
  margin: auto;
}

.method-card{
  background: rgba(158, 216, 239, 0.5);
  border-radius: 10px ;
  padding: 5px;
  margin-bottom: 16px;
  cursor: pointer;
  box-shadow: 0 0 5px #EAE0CF;
}

.method-card:hover{
  transform: scale(1.02);
}

.method-card h3{
  margin: 8px;
}

.dropdown{
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: slidedown 0.5s ease;
}

@keyframes slidedown{
  from{
    opacity: 0;
    transform: translateY(-10px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

.dropdown p{
  text-align: center;
  margin: 0;
  color: #EAE0CF;
}
.dropdown input{
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #fcf6ed;
}

.dropdown button{
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #213448;
  color: #EAE0CF;
  font-weight: bold;
  cursor: pointer;
  margin-left: 36%;
}

.processing p{
  color: #EAE0CF;
  font-size: 18px;
}



/* Feedback style */

.rating {
  font-size: 28px;
  margin: 10px 0;
}

.star {
  cursor: pointer;
  color: #ccc;
  margin-right: 6px;
  transition: color 0.3s;
}

.star.active {
  color: #facc15;
}

 .comment {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

textarea {
  width: 70%;
  height: 80px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
} 

button {
  width: 25%;
  margin-top: 15px;
  padding: 10px 16px;
  color: white;
  background: #213448;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}



